// VARIABLES
// colors
$primary:#000000;
$greey:#f2f4f5;
$pink: #ff7f50;
$blue:#4682b4;

// font
$font-base:'Roboto', sans-serif;

//FONT PESO
$font-black:900;
$font-regular:400;

//FONT TAMAÑO

$font-50: 50px;
$font-40: 40px;
$font-35: 35px;
$font-30: 30px;
$font-25: 25px;
$font-20: 20px;
$font-16: 16px;


// Breakpoint
$break_phone:576px;
$break_tablet:731px;
$break_desktop:992px;
$break_large:1200px;